@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Nunito:wght@500&family=Roboto:wght@500&display=swap');
	body{
		font-family: 'Roboto', sans-serif; fonnt-size: 14px; color:#666666; margin: 0;
	
}
.top-bar{
	width: 100%; 
	height: 50px;
	background-color: #056CB6;
	color: white;
	line-height: 50px;
}
.top-bar a{
	color: white;
}
.top-bar a:hover{
	color:#FFC113;
}
.navbar .navbar-nav .nav-item .nav-link{
	padding: 8px 20px;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
	color:#056CB6; background-color: #FFC113;
}
.navbar .navbar-nav .nav-item .dropdown-menu{
	background-color: #056CB6; padding-bottom:0; padding-top:0;
}
.navbar .navbar-nav .nav-item .dropdown-menu li{
	border-bottom: 1px solid white;
}
.navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-item{
	color:white; transition: all 1s;
}
.navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-item:hover{
	background-color: #FFC113;  padding-left:20px;
}
main{
	width: 100%;
	min-height: 500px;
}
.btn-secondary{
	background-color: #FFC113;
	color: white;
	
}
.btn-secondary:hover{
	background-color:#EeBE06;
}
.gach-chan{
	border-bottom: 1px solid #FFC113}
footer .navbar .nav-item .nav-link{
	
}
footer .navbar .nav-item .nav-link:hover{
	color:#FFC113
}
.bottom-bar{
	width:100%; height: 50px; line-height: 50px;
}
#banner{
	width:100%;
	min-height:400px;
	background: url("../images/pageheader.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}
.number .btn-group .btn{ 
	background-color:gray;
}
.number .btn-group .btn:hover{
	background-color:#056CB6
}
#phanhoi .baiviet:hover{
	color: #FFC113
}
#phanhoi .btn .btn-primary:hover{
	color:#FFC113
}